@inherits LayoutComponentBase
<div class="page">

    <div id="alert-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;"></div>
    
    <main>
        <section class="container mt-5">
            @Body
        </section>
    </main>
</div>
