@using TicTacToe.Web.Contracts

<div class="game-list">
    @if (AvailableGames is not null)
    {
        <h4>Active Games</h4>
        @foreach (var game in AvailableGames)
        {
            <div class="game-item">
                <span>@game.Name</span>
                <button @onclick="() => OnJoin.InvokeAsync(game)">Join</button>
            </div>
        }
    }
    else
    {
        <h4>No active games</h4>
    }
</div>

@code {
    [Parameter] public EventCallback<GameInfo> OnJoin { get; set; }

    [Parameter] public IEnumerable<GameInfo>? AvailableGames { get; set; }
}
