@using TicTacToe.Web.Contracts
<div class="game-list">
    <h4>Active Games</h4>

    @foreach (var game in _availableGames)
    {
        <div class="game-item">
            <span>@game.Name</span>
            <button @onclick="() => OnJoin.InvokeAsync(game)">Join</button>
        </div>
    }
</div>

@code {
    [Parameter] public EventCallback<GameInfo> OnJoin { get; set; }

    private List<GameInfo> _availableGames =
    [
        new(1, "Game #1"),
        new(2, "Game #2"),
        new(3, "Game #3")
    ];
}
