@page "/"
@using TicTacToe.Web.Components

<PageTitle>Home</PageTitle>


<div class="game-container">
    <h1 style="color: #0dcaf0">Tic Tac Toe</h1>

    <Board></Board>    
   
    <button class="toggle-theme" onclick="toggleTheme()">Toggle Theme</button>
</div>


