@page "/"
@using TicTacToe.Web.Components

<PageTitle>Home</PageTitle>


<div class="game-container">
    <h1>Tic Tac Toe</h1>

    <Board></Board>    

    <p class="status" id="statusText">Current Turn: X</p>

    <button class="restart" onclick="restartGame()">Restart</button>
    <button class="toggle-theme" onclick="toggleTheme()">Toggle Theme</button>

    <audio id="clickSound" src="click.mp3" preload="auto"></audio>
</div>


