@page "/"
@using TicTacToe.Web.Components

<PageTitle>Home</PageTitle>


<div class="game-container">
    <h1 style="color: #0dcaf0">Tic Tac Toe</h1>

    <hr/>
    <div class="home-layout">
        <Board/>
        <GameList/>
    </div>

    <hr/>
    <button class="toggle-theme" onclick="toggleTheme()">Toggle Theme</button>
</div>


<style>
    .home-layout {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        margin-top: 30px;
        flex-wrap: wrap;
    }
</style>


