@page "/"
@using TicTacToe.Web.Components
@using TicTacToe.Web.Contracts

<PageTitle>Home</PageTitle>


<div class="game-container">
    <h1 style="color: #0dcaf0">Tic Tac Toe</h1>

    <hr/>


    <div class="home-layout">
        @if (_currentGame != null)
        {
            <div>
                <h3 class="game-title">Playing: @_currentGame.Name</h3>
                <Board GameName="@_currentGame.Name" />
            </div>
        }

        <GameList OnJoin="HandleJoin" />
    </div>
    

    <hr/>
    <button class="toggle-theme" onclick="toggleTheme()">Toggle Theme</button>
</div>

@code {
    private GameInfo? _currentGame;

    private void HandleJoin(GameInfo game)
    {
        _currentGame = game;
    }
}
